.library {
    background: linear-gradient(180deg, rgb(21, 8, 66) 3%, rgb(0, 0, 0) 63%, rgb(0, 0, 0) 99%);
    background-attachment: fixed;    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    box-shadow: 2px 2px 20px rgb(71, 5, 71);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    h2{
        padding: 2rem;
    }
}

.library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    img {
        width: 30%;
    }
    &:hover{
        background-color: rgba(37, 2, 37, 0.76);
    }
}

.song-description {
    padding-left: 1rem;
    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 0.7rem;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(75, 73, 75, 0.76) transparent;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(75, 73, 75, 0.76);
    border-radius: 20px;
    border: transparent;
}

.selected {
    background: rgba(34, 1, 34, 0.719);
}

.active-library {
    transform: translateX(0%);
    opacity: 1;
}

@media screen and (max-width: 768px){
    .library {
        width: 100%;
    }
}